
*.xcuserstate

*.xcbkptlist

*.xcuserstate

*.xcbkptlist

FourSquare.xcodeproj/project.xcworkspace/xcuserdata/kuangtzerm.xcuserdatad/UserInterfaceState.xcuserstate

*.xcbkptlist

FourSquare.xcodeproj/project.xcworkspace/xcuserdata/kuangtzerm.xcuserdatad/UserInterfaceState.xcuserstate

FourSquare.xcodeproj/xcuserdata/kuangtzerm.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
